.app {
  min-height: 100vh;
  background: rgb(135, 165, 175);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  height: 300px;
  width: 300px;
  background: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
}

.red{
  color: red;
}